/* .navBar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navContainer {
  display: block;
  position: relative;
  height: 60px;
}
.navBar li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  font-size: 1.2rem;
  color: #32ba00;
} */
/* .logo h1 a {
  font-size: 20px;
  font-weight: 400;
  
  letter-spacing: -2.8px;
} */

/* ul {
  display: none;
  gap: 30px;
}

ul li a {
  color: #cbd119;
  font-size: 14px;
} */

/* .navBar .navLinks {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
} */

/* .navContainer input:checked ~ .navContainer {
  transform: translateX(0);
}

.navContainer input:checked ~ .logo {
  display: none;
} */

/* .container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navBar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navBar .menuItems {
  display: flex;
}

.navBar .navContainer li {
  list-style: none;
}

.navBar .navContainer a {
  text-decoration: none;
  color: #cbd119;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navBar .navContainer a:hover {
  font-weight: bolder;
}

.navContainer {
  display: flex;
  height: 60px;
  align-items: center;
}

.navContainer .checkbox {
  position: absolute;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.navContainer .hamburgerLines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navContainer .hamburgerLines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
}

.navContainer .hamburgerLines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  background: #32ba00;
}

.navContainer .hamburgerLines .line2 {
  transition: transform 0.2s ease-in-out;
  background-color: #000000;
}

.navContainer .hamburgerLines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  background: #cbd119;
}

.navBar .menuItems {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navBar .menuItems li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  font-size: 1.2rem;
  color: #32ba00;
}

.test input[type="checkbox"]:checked ~ .menuItems {
  transform: translateX(0);
}

.navContainer input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
  transform: rotate(45deg);
}

.navContainer input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
  transform: scaleY(0);
}

.navContainer input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
  transform: rotate(-45deg);
}

.navContainer input[type="checkbox"]:checked ~ .logo {
  display: none;
} */
