.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.logo {
  width: 75px;
}

@media screen and (min-width: 768px) {
  .mobileNav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
